<nav>
    <div class="site-title">
      <a href="/"><h1>ABC Bank Ltd</h1></a>
      <p>Relationship beyond banking</p>
    </div>
    <ul>
      <li><a href="/blogs/create">Send Customer Details</a></li>
    </ul>
  </nav>